<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">
                <img class="brand-img" alt="Brand" src="images/ntblogo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class=""></span> Edit Profile</a></li>
                <li><a href="#"><span class=""></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="colxs-12-col-sm-12 col-md-6">




</div>
<div class="colxs-12-col-sm-12 col-md-6">
</div>
<style>
    .mdl-stepper > .mdl-step > .mdl-step__content {
        background-color: rgba(0, 0, 0, 0.2);
    }
</style>

<section class="mdl-stepper-demo">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

            <!-- markup -->
            <ul class="mdl-stepper mdl-stepper--feedback mdl-stepper--horizontal stepper-height" id="demo-stepper-horizontal-linear-feedback"
                style="
    min-height: 480px;">
                <span class="mdl-step__label">
              <span class="mdl-step__title">
                <span class="mdl-step__title-text"><h4>NEW CARD</h4></span>
                </span>
                </span>
                <li class="mdl-step" data-step-transient-message="Step 1 looks great! Step 2 is coming up.">
                    <span class="mdl-step__label" routerLink="/request_card">
          <span class="mdl-step__title">
            <span class="mdl-step__title-text">Customize Card</span>
                    </span>
                    </span>
                    <div class="mdl-step__content">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                <div class="col-xs-12-col-sm-12 col-md-6">
                                    <form>
                                        <div class="form-group h-textbox">
                                            <label for="cardview">Your Card</label>
                                        </div>
                                    </form>
                                    <div class="container">
                                        <img class="img-responsive" src="images/6.jpg" alt="Chania" width="460" height="345">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <form>
                                        <div class="form-group h-textbox">
                                            <label for="edate">Expire Date</label>

                                        </div>
                                        <div class="form-group h-textbox">
                                            <label class="subtext" for="edatesub">{{expirationDate}}</label>
                                        </div>
                                        <div class="form-group h-textbox">
                                            <label for="address">Address</label>

                                        </div>
                                        <div class="form-group h-textbox">
                                            <label class="subtext" for="addresssub">{{mailingAddress}}</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mdl-step__actions">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" data-stepper-next (click)="Submit()" >
            Continue
          </button>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-cancel routerLink="/request_card">
            Cancel
          </button>
                        <!--button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-back routerLink="/request_card">
            Back
          </button-->
                    </div>
                </li>
                <li class="mdl-step" data-step-transient-message="Step 2 looks great! Step 3 is coming up.">
                    <span class="mdl-step__label" routerLink="/card_detail">
          <span class="mdl-step__title">
            <span class="mdl-step__title-text">Card Details</span>
                    </span>
                    <span class="mdl-step__label-indicator">
                <span class="mdl-step__label-indicator-content" style="background-color:#1E90FF;border-radius: 50%;
    behavior: url(PIE.htc);">2</span>
                    </span>
                    </span>
                    <div class="mdl-step__content">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                <div class="col-xs-12-col-sm-12 col-md-6">
                                    <form>
                                        <div class="form-group h-textbox">
                                            <label for="cardview">Your Card</label>
                                        </div>
                                    </form>
                                    <div class="container">
                                        <img class="img-responsive" src="images/6.jpg" alt="Chania" width="460" height="345">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <form>
                                        <div class="form-group h-textbox">
                                            <label for="edate">Expire Date</label>

                                        </div>
                                        <div class="form-group h-textbox">
                                            <label class="subtext" for="edatesub">{{expirationDate}}</label>
                                        </div>
                                        <div class="form-group h-textbox">
                                            <label for="address">Address</label>

                                        </div>
                                        <div class="form-group h-textbox">
                                            <label class="subtext" for="addresssub">{{mailingAddress}}</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mdl-step__actions">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" data-stepper-next (click)="Submit()">
            Continue
          </button>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-cancel routerLink="/request_card">
            Cancel
          </button>
                        <!--button disabled class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-back>
            Back
          </button-->
                    </div>
                </li>
                <li class="mdl-step" data-step-transient-message="Step 3 looks great! Thanks.">
                    <span class="mdl-step__label" routerLink="/final">
          <span class="mdl-step__title">
            <span class="mdl-step__title-text">Complete</span>
                    </span>
                    </span>
                    <div class="mdl-step__content">

                        <div class="col-md-offset-4 col-md-4 col-xs-12 h-margin-top">
                            <form>
                                <div class="form-group center-align">
                                    <h1>Thank You</h1>
                                </div>
                                <div class="form-group center-align">
                                    <h6>Your card delivery has been arranged.</h6>
                                </div>
                                <div class="form-group center-align">
                                    <a href="#" class="btn btn-lg btn-primary h-option-btn btn-block">SUBMIT</a>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="mdl-step__actions">
                        <!-- <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" data-stepper-next>
            Continue
          </button>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-cancel>
            Cancel
          </button>
              <button disabled class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-back>
            Back
          </button>-->
                    </div>
                </li>
            </ul>

        </div>
    </div>

</section>
<div class="footer navbar-fixed-bottom h-footer">
    <p>Nations Trust Bank,All Rights Reserved.</p>
</div>