<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 vertically-align">

            <div class="">
                <img class="logo" src="images/ntblogo.png">
            </div>
            <form #loginForm="ngForm">
                <div class="login">

                    <div class="form-group">
                        <img class="avatar" src="images/loginicon.png">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="Email" placeholder="username" required #EmailM="ngModel" [(ngModel)]="EmailModel"
                        />
                        <div [hidden]="EmailM.valid || EmailM.pristine" class="alert alert-danger">You must enter Email.</div>
                    </div>
                   
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-login btn-block" (click)="sendEmail(EmailM.value)" [disabled]="!EmailM.valid">Send Reset Code</button>
                    </div>


                   <div class="form-group">
                        <input type="text" class="form-control" 
            name="resetCode" placeholder="Reset Code" required #resetCodeM="ngModel" [(ngModel)]="resetCodeModel"
                        />
                        <div [hidden]="resetCodeM.pristine" class="alert alert-danger">You must enter Reset Code.</div>
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control"
             name="password" placeholder="Password" required #passwordM="ngModel" [(ngModel)]="PasswordModel"
                        />
                        <div [hidden]="passwordM.pristine" class="alert alert-danger">You must enter Password.</div>
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control" 
            name="confirmpassword" placeholder="Confirm-Password" required #ConfirmPasswordM="ngModel" [(ngModel)]="ConfirmPasswordModel"
                        />
                        <div [hidden]="ConfirmPasswordM.pristine" class="alert alert-danger">You must enter Confirm-Password.</div>
                    </div>
                     <div class="form-group">
                         
                        <button class="btn btn-lg btn-primary btn-login btn-block" (click)="resetPassword(EmailM.value,resetCodeM.value,passwordM.value)" [disabled]="!loginForm.valid">Reset Password</button>
                    </div>

                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    
                </div>
            </form>

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-12">
        </div>
    </div>
</div>