<form #userDataForm="ngForm">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">
          <img class="brand-img" alt="Brand" src="images/ntblogo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class=""></span> Edit Profile</a></li>
          <li><a href="#"><span class=""></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="panel panel-primary" id="editprofile">
      <div class="panel-heading">
        <h3>Personal Details</h3>
      </div>
      <div class="panel-body">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

          <div class="form-group">
            <label for="Phone">Name</label>
            <div class="row">

              <div class="col-xs-6 col-sm-6 col-md-6">

                <div class="form-group h-no-margin h-textbox">
                  <input type="text" pattern="[A-Za-z]*" required #profileFname="ngModel" [(ngModel)]="cardHolderFname" maxlength="20" class="form-control"
                    placeholder="First Name" name="profileFname" id="profileFname">
                  <!--<div [hidden]="profileFname.valid || profileFname.pristine" class="alert alert-danger">Enter Valid Name
                  </div>-->
                  <div *ngIf="error" class="alert alert-danger">{{error1}}</div>
                </div>

              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group h-no-margin h-textbox">
                  <input type="text" pattern="[A-Za-z]*" required #profileLname="ngModel" [(ngModel)]="cardHolderLname" maxlength="20" class="form-control"
                    placeholder="Last Name" name="profileLname" id="profileLname">

                  <div [hidden]="profileLname.valid || profileLname.pristine" class="alert alert-danger">Enter Valid Name
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Phone">Phone</label>
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-2">
                <select class="form-control" #pCode>
                                    <option>+94</option>
                                </select>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="  h-textbox">
                  <input type="tel" pattern="[0-9]{9}" required #phoneNumber="ngModel" [(ngModel)]="PhoneNumber" class="form-control" maxlength="9"
                    placeholder="Phone Number" name="phoneNumber" id="phoneNumber">

                  <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">Enter Valied Phone Number
                  </div>
                </div>
              </div>

            </div>


          </div>
          <div class="form-group h-textbox">
            <label for="Email">Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel" [(ngModel)]="Email" class="form-control"
              placeholder="example@gmail.com" name="email" id="email">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Enter Valied Email
            </div>

          </div>
          <div class="form-group  h-textbox">
            <label for="Address">Address</label>
            <input type="text" required #address="ngModel" [(ngModel)]="Address" class="form-control" placeholder="Address" name="address"
              id="address">
            <div [hidden]="address.valid || address.pristine" class="alert alert-danger">Address is required
            </div>

            <input type="text" pattern="[A-Za-z 0-9]*" required #town="ngModel" [(ngModel)]="Town" class="form-control" placeholder="Town"
              name="town" id="town">

            <div [hidden]="town.valid || town.pristine" class="alert alert-danger">Town name invalied
            </div>

          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

          <div class="form-group  h-textbox">
            <label for="KidsCif">Kid's CIF</label>
            <input type="text" required #cif="ngModel" [(ngModel)]="CIF" class="form-control" placeholder="cif" name="cif" id="cif">

            <div [hidden]="cif.valid || cif.pristine" class="alert alert-danger">CIF required
            </div>

          </div>
          <div class="form-group  h-textbox">
            <label for="dob">Date of Birth</label>
            <input type="date" required #dob="ngModel" [(ngModel)]="DOB" class="form-control" placeholder="Date of birth" name="dob"
              id="dob">
            <div [hidden]="dob.valid || dob.pristine" class="alert alert-danger">Enter Date of Birth
            </div>
          </div>
          <div class="form-group  h-textbox">
            <label for="branch">Account Branch</label>
            <input type="text" required #accBranch="ngModel" [(ngModel)]="Branch" class="form-control" placeholder="Account Branch" name="accBranch"
              id="accBranch">
            <div [hidden]="accBranch.valid || accBranch.pristine" class="alert alert-danger">Account branch required
            </div>
          </div>
          <div class="form-group  h-textbox">
            <label for="image">Profile Image</label>
            <input type="file"  accept=".jpg, .jpeg" required #proImage="ngModel" [(ngModel)]="Image" class="form-control" name="proImage"
              id="proImage">

            <div [hidden]="proImage.valid || proImage.pristine" class="alert alert-danger">Upload profile image
            </div>
          </div>
        </div>
      </div>

<div class="col-lg-3 col-xs-12 col-sm-3 col-md-3 pull-right">
  <button id="next" class="btn btn-lg btn-primary h-option-btn btn-block" (click)="userDetails(profileFname.value,profileLname.value,pCode.value,phoneNumber.value,email.value,address.value,town.value,cif.value,dob.value,accBranch.value,proImage.value)">SUBMIT</button>

</div>
<div class="col-lg-3 col-xs-12 col-sm-3 col-md-3 pull-right">
  <a href="#" id="cancel" class="btn btn-lg btn-primary h-option-btn btn-block">CANCEL</a>
</div>
</div>

</div>
<div class="footer navbar-fixed-bottom h-footer">
  <p>Nations Trust Bank,All Rights Reserved.</p>
</div>

</form>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>